body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin-top: 0;
  background-color: #7bd3f7;
  user-select:none;
}
.stats {
  z-index: -1;
  width: max-content;
  margin: 0px 0px;
  text-align:left !important;
}
.stats h1 {
  display: inline;
}
.stats img {
  position:relative;
  top: -3px;
} 
.main {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
.page {
  position: absolute;
  left: 44.5%;
  top: 0;
} 
.trees {
  width: 100%;
}
.trees img, #treesCanvas {
  width: 40vh;
  position: absolute;
  bottom: 13vh;
  right: 12vw;
  transition: 0.1s all ease-in-out;
  cursor: pointer;
}
.trees img:active {
  transition: 0.01s all ease-in-out;
  transform: scale(95%);
}
.grass {
  border-top: 2px solid;
  border-color: #000000;
  left: 0;
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 13vh;
  z-index: 1;
  background-color: #55c233;
}
.grass-fadeout {
  left: 0;
  position: absolute;
  width: 100%;
  height: 2vh;
  bottom: 11vh;
  z-index: 1;
  opacity: 75%;
  background-color: #55c233;
}
.ground {
  left: 0;
  position: absolute;
  width: 100%;
  height: 18vh;
  bottom: 0;
  background-color: #9b7653;
}

/* NAV ARROWS */
.arrows {
  position: fixed;
  bottom: 50px;
  width: 100%;
  z-index: 100;
}
.arrows img {
  width: 4vw;
}
.arrows img:hover {
  filter: brightness(85%);
}
.arrows #left {
  float: left;
  padding-left: 5px;
}
.arrows #right {
  float: right;
  padding-left: 25px;
  transform: scaleX(-1); -webkit-transform: scaleX(-1); 
}